<div class="bg-dark dark:bg-gray-900 bg-cover bg-center min-h-screen flex items-center" style="background-image: url('assets/images/hero.jpg');text-align: center; margin-left: 100px;margin-right: 100px; margin-bottom: 100px; border-radius: 20px;">
    <div style="padding: 32px; margin: auto; max-width: 960px;  color: #942c3a; background-color: rgba(228, 222, 222, 0.76); border-radius: 30px;">
        <h1 style="margin-bottom: 16px; font-size: 2.8rem; font-weight: 900; line-height: 1.2; color:#ca152d ">
            We invest in the world’s potential
        </h1>
        <p style="margin-bottom: 32px; font-size: 1.25rem; font-weight: 500; color: #000000;">
            Here at Pimpri Chinchwad University we focus on markets where technology, innovation, and capital can unlock long-term value and
            drive economic growth.
        </p>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <button routerLink="registration" style="color: #C62828; font-size: medium;" > Register Now!
            </button>
        </div>
    </div>
</div>



<div style="background-color: #ffffff; color: #000; padding: 32px; text-align: center; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1496469888073-80de7e952517?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); height: 100vh; background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <h2 style="margin-bottom: 24px; font-size: 2.5rem; font-weight: 900; color: #d1c5c5; text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);">
        Admissions Open for 2024!
    </h2>

    <ol style="text-align: left; max-width: 1100px; margin: 0 auto; padding: 20px; background-color: #202020; border-radius: 12px; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4); color: #d1cece; font-size: 1.2rem; line-height: 1.6; height: 320px;">
        <br>
        <li style="margin-bottom: 16px;"><strong>Eligibility Criteria:</strong> Check if you meet the eligibility criteria for our undergraduate and postgraduate programs.</li>
        <li style="margin-bottom: 16px;"><strong>Online Application:</strong> Submit your application through our user-friendly online portal.</li>
        <li style="margin-bottom: 16px;"><strong>Entrance Exam:</strong> Prepare for and participate in our entrance exam, designed to assess your aptitude and potential.</li>
        <li style="margin-bottom: 16px;"><strong>Personal Interview:</strong> Shortlisted candidates will be invited for a personal interview with our admissions committee.</li>
        <li style="margin-bottom: 16px;"><strong>Final Selection:</strong> Receive your admission offer and get ready to join the Kharadi College of Engineering family!</li>
        
    </ol>
</div>




<footer style="background-color: #90182e; color: #FFFFFF; padding: 24px; text-align: center; border: none; outline: none; margin-top: -30px;">
    <div>
        <p style="margin-bottom: 8px;">For more information, visit our <a href="#" style="color: #ff891b; text-decoration: none;">Admissions Page</a>, or contact our admissions office at 7021260994 or rajbhise262gmail.com.</p>
        <p style="margin-bottom: 8px;">Stay connected with us on social media for the latest updates and campus news.</p>
        <p style="margin-bottom: 8px;">Pimpri Chinchwad University | Shaping the Engineers of Tomorrow</p>
        <p>7021260994  | rajbhise262gmail.com</p>
    </div>
</footer>

