
<div class="h-screen w-full bg-white:bg-gray-100" style="background-image:url('https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');background-size: cover; max-width: 1700px; margin-left: 100px;  margin-bottom: 100px;  border-radius: 20px;">
    <div class="h-full lg:w-[30%] sm:w-[80%] xs:w-[90%] mx-auto flex gap-8 items-center">
        <div
            class="flex flex-col gap-4 text-white dark:text-black p-5 shadow-2xl shadow-black-800/40">
            <h5 class="text-md text-white-500 ">University of Kharadi</h5>
            <div class="w-full flex gap-2 items-center justify-around">
                <div class="text-5xl text-white-600 font-semibold uppercase font-serif">Thank You for Registering!</div>
                <hr class="w-[50%] h-1 rounded-full border-t-white-500 bg-purple-500" />
            </div>

            <p class="text-sm text-white-500">
                You will recieve emails regarding Your Admission process, please make sure to check you inbox and for any further queries you can conatct us with the number below 
            </p>

            <div class="flex gap-4 justify-center">
                <button class="w-full px-4 py-1 border-2 border-white-500 rounded-sm text-white-300"  [routerLink]="['/about']">Know More</button>
                
            </div>
            
        </div>
    </div>
</div>