.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Makes sure the table-container takes up the full height of the viewport */
}

.container {
  display: flex;
  justify-content: center;
}

.table {
  width: 800px;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
  border-radius: 20px;


}

.opaque-table {
  background-color: #d6d4d4;
  /* O if you want the table to have some transparency */
}

.table {
  min-width: 1000px;

}
.hyte{
  min-height: 150px;
}

/* .tr,td{
  color: antiquewhite;
}
   */




/*  */
.lol {
  min-width: 150px;
  display: flex;
  justify-content: space-evenly;
}

/*  */
.del {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.del div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 4px 4px 4px 0 rgba(255,255,255,.5),
              -4px -4px 4px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 4px 0 rgba(255,255,255,.2),
    inset 4px 4px 4px 0 rgba(0, 0, 0, .4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  letter-spacing: 1px;
  color: #ff0000;
  z-index: 1;
  transition: .6s;
}

.del:hover div {
  letter-spacing: 4px;
  color: #fff;
  background: #ff0000;
}


/*              */
.edit {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  letter-spacing: 1px;
  color: #000000;
  z-index: 1;
  transition: .6s;
}

.edit:hover div {
  letter-spacing: 4px;
  color: #fff;
  background: #0051ff;
}


